@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #ffd747;
  --color-secondary-1: #fef9f0;
  --color-secondary-2: #f6fceb;
  --color-accent: #1b3d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-secondary-1);
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  background-color: var(--color-secondary-2);
  padding: 2rem;
}

form > * {
  margin-top: 1rem;
}

input[type="text"],
input[type="email"] {
  border: var(--color-accent) 1px solid;
  padding: 1rem;
}

input[type="submit"] {
  padding: 1rem;
  margin: 0 10vw;
  background-color: var(--color-accent);
  color: var(--color-secondary-1);
  font-weight: bolder;
  font-size: larger;
  border: none;
  border-radius: 10px;
}
