@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #fef9f0;
  --color-secondary: #fef9f0;
  --color-accent: #1b3d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav {
  background-color: var(--color-accent);
  padding: 1rem;
  color: var(--color-secondary);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5vh 5rem;
}

nav > * {
  font-size: small;
}

nav > p {
  font-size: medium;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav > ul > li {
  margin-left: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  padding: 2rem;
  margin: 6vh 25vw;
  border-radius: 10px;
}

h1 {
  color: var(--color-accent);
  font-size: 72px;
  font-weight: 500;
}

.con {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

form > * {
  margin-top: 1rem;
}

label {
  color: var(--color-accent);
  font-weight: bold;
  font-size: 20px;
}

input {
  background-color: var(--color-secondary);
}

input:not([type="submit"]) {
  border: var(--color-accent) 1px solid;
  padding: 0.7rem;
}

input[type="submit"] {
  padding: 1rem;
  margin: 5rem 10vw;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  font-weight: bolder;
  font-size: larger;
  border: none;
  border-radius: 2%;
}

footer {
  color: var(--color-primary);
}

footer > .long {
  background-color: #668175;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5vh;
}

footer > .short {
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  padding: 1.5vh 1rem;
}

ul#column {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-size: medium;
  font-weight: bold;
}

ul#column > li {
  font-size: small;
  margin-top: 10px;
  color: #e6e1da;
}
