@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #409abf;
  --color-secondary: #e35a19;
  --color-accent: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
}

form > * {
  margin-top: 1rem;
}

input[type="text"],
input[type="email"] {
  border: var(--color-primary) 1px solid;
  padding: 1rem;
}

input[type="submit"] {
  padding: 1rem;
  margin: 0 10vw;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  font-weight: bolder;
  font-size: larger;
  border: none;
  border-radius: 10px;
}
